h1 {
    color: greenyellow ; 
}

.meniu ul, .meniu li {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

.meniu a {
    text-decoration: none; 
    display: block; 
    color: white; 
}

.meniu {
    background-color: #333; 
    height: 50px;
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.meniu > ul {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-around;
}

.meniu > ul > li {
    height: 50px;
    line-height: 50px; 
    text-align: center;
    flex: 1 200px; 
    transition: background-color 0.3s;
}

.meniu > ul > li:hover {
    background-color: #111;
}

.dropdown-content {
    background-color: #f9f9f9; 
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-content li {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f9f9f9;
}

.dropdown-content a {
    color: black; 
}


.dropdown-content a:hover {
    background-color: #ddd; 
    border-radius: 4px;
    color: #333;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nume {
    margin-bottom: 5px;
}

.inapoi-link {
    display: inline-block;
    margin-bottom: 20px;
}

.sectiune-subtitlu {
    margin-top: 20px;
}

.detalii-grid {
    display: flex;
    gap: 30px;
}

.grid-col-img {
    flex: 1;
    min-width: 300px;
}

.grid-col-text {
    flex: 2; 
}

.img {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 8px;
    object-fit: cover;
}
.ph {
    background-color: #eee;
}

.sectiune-titlu {
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.text-paragraf {
    font-size: 1.1em;
    line-height: 1.6;
}

.detalii-lista {
    list-style-type: none;
    padding-left: 0;
}

.valoare {
    font-size: 1.2em;
}

.pret-rosu {
    color: #d9534f; 
}

.stoc-verde {
    color: green;
}